.addEducation{
    margin : 5% 0% 5% 0%;
    border: 1px solid blue;
    width: 80%;
    position: relative;
    height: 100%;
    
}
.addButton{
    float: right;
}

.spinner{

    position: absolute;
    top:50%;
    left:50%;
    
}